@page
@model RegisterModel
@{
    ViewData["Title"] = "";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4>Register</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Input.FirstName"></label>
                <input asp-for="Input.FirstName" class="form-control" />
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.LastName"></label>
                <input asp-for="Input.LastName" class="form-control" />
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.MobileNo"></label>
                <input asp-for="Input.MobileNo" class="form-control" />
                <span asp-validation-for="Input.MobileNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>

            <div id="ReCaptchContainer"></div>
            <label id="lblMessage" runat="server" clientidmode="static"></label>
            <br />
            <button onclick="myFunction()" type="submit" class="btn btn-primary">Register</button>





        </form>
    </div>

</div>
<script src="https://www.google.com/recaptcha/api.js?onload=renderRecaptcha&render=explicit" async defer></script>
<script src='https://www.google.com/recaptcha/api.js'></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript">
    var your_site_key = '<%= ConfigurationManager.AppSettings["6LfSrq0UAAAAAKaozFRDtvGm4T7ddMYeue1AVmtc"]%>';
    var renderRecaptcha = function () {
        grecaptcha.render('ReCaptchContainer', {
            'sitekey': '6LfSrq0UAAAAAKaozFRDtvGm4T7ddMYeue1AVmtc',
            'callback': reCaptchaCallback,
            theme: 'light', //light or dark
            type: 'image',// image or audio
            size: 'normal'//normal or compact
        });
    };

    var reCaptchaCallback = function (response) {
        if (response !== '') {
            jQuery('#lblMessage').css('color', 'green').html('Success');
        }
    };

    jQuery('button[type="button"]').click(function (e) {
        var message = 'Please checck the checkbox';
        if (typeof (grecaptcha) != 'undefined') {
            var response = grecaptcha.getResponse();
            (response.length === 0) ? (message = 'Captcha verification failed') : (message = '');
        }
        jQuery('#lblMessage').html(message);
        jQuery('#lblMessage').css('color', (message.toLowerCase() == 'success!') ? "green" : "red");
    });

</script>
<!--<script>
   function myFunction() {
        alert("Please Confirm Email");
    }
</script> -->

<style>

    .g-recaptcha {
        width: 100%;
    }

    h4 {
        text-align: center;
    }


    .row {
        margin-top: 5em;
        margin-bottom: 5em;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .btn {
        background-color: #4CAF50;
        border: none;
        width: 100%;
    }

        .btn:hover {
            background-color: #3e8e41;
        }
</style>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
