@page
@model FatClub.Pages.Cart.CheckoutModel
@{
    ViewData["Title"] = "Checkout";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Checkout Successful</h1>
<p>Your order has been received. Please wait at your current location and a driver will deliver your order to you.</p>
<input name="rating" />