@page
@model FatClub.Pages.Cart.CheckoutModel
@{
    ViewData["Title"] = "Checkout";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/jquery.star-rating-svg.js"></script>
<link rel="stylesheet" type="text/css" href="~/Scripts/star-rating-svg.css">
<h1>Checkout Successful</h1>
<p>Your order has been received. Please wait at your current location and a driver will deliver your order to you.</p>
<form id="rateform" method="post">
    <div class="my-rating"></div>
    <input type="hidden" id="star-rating" name="starrating" value="0">
    <script>
        $(".my-rating").starRating({
            starSize: 40,
            totalStars: 5,
            useFullStars: true,
            callback: function (currentRating, $el) {
                var ratingno = currentRating;
                console.log(ratingno);
                document.getElementById("star-rating").value = ratingno;
                document.getElementById("rateform").submit();
            }
        });
    </script>
</form>
