@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/css/index-styles.css">
</head>
<body>
    <section>
        <h1>Fat Club</h1>
        <div class="title-container">
            <div></div>
            <h2>Redefining food, one mouth at a time.</h2>
        </div>
    </section>
    <input class="search-bar" type="text" placeholder="What've you been craving..." href="../Restaurants" ></input>
</body>