
.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    text-align: center;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

    .closebtn:hover {
        color: black;
    }

h4 {
    text-align: center;
}

.row {
    margin-top: 5em;
    margin-bottom: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    background-color: #4CAF50;
    border: none;
    width: 100%;
}

    .btn:hover {
        background-color: #3e8e41;
    }